:root{
    --purple: #A400EB;
    --cinza: #3d3c3c;
    --light-color: #181818;
    --box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
}

.banner-video {
    margin-top: 3.2rem;
    padding: 0 0.5rem;
    position: relative;
    width: 100%;
    max-width: 100%;
    overflow: hidden;    
}

#video {
    width: 100%;
    height: auto;
    display: block;
}

.title{
    margin-top: 1.5rem;
    color: var(--purple);
    text-align: center;
}

.price-table{ 
    text-align: center; /* Centraliza o conteúdo da div */
}

.table {
    width: 80%;
    color: #fff;
    font-size: 1.2rem;
    border-collapse: collapse;
    margin: 2rem auto;
}

.table th, td {
    padding: 12px;
    text-align: left;
    border: 1px solid #fff;
}

th {   
    background-color: #555; 
}

@media (max-width: 768px) { /* Ajuste o video para celular */
    #video {
        height: auto;
        max-width: 100%;
    }

    .table {
        font-size: 0.9rem; /* Ajusta o tamanho da fonte para dispositivos menores */
    }
}