:root{
    --purple: #A400EB;
    --black: #000000;
    --light-color: #181818;
    --box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    transition: all .2s linear;
}

.topnav {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.topnav a {
    float: left;
    display: block;
    color: #fff;
    text-align: center;
    padding: 0.8rem 1rem;
    text-decoration: none;
    font-size: 1.1rem;
}

.topnav a.active {
    /*background-color: var(--purple);*/
    color: var(--purple);
}

.topnav .icon {
    display: none;
}

.banner-video {
    margin-top: 3.2rem;
    padding: 0 0.5rem;
    position: relative;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}

#video {
    width: 100%;
    height: auto;
    display: block;
}

body {
    background-color: var(--light-color);
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
      float: right;
      display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
}

@media (max-width: 768px) { /* Ajuste o video para celular */
    #video {
        height: auto;
        max-width: 100%;
    }
}