:root{
    --purple: #A400EB;
    --cinza: #3d3c3c;
    --light-color: #181818;
    --box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
}

body {
    color: #fff;
    background-color: var(--light-color);
}

form, #resultado {
    background-color: var(--cinza);
    padding: 1.2rem;
    border-radius: 0.5rem;
    max-width: 400px;
    width: 100%;
    box-sizing: border-box; 
    margin: 3.5rem auto; /* Centralizar o formulário horizontalmente*/
}

form label {
    display: block;
    margin-bottom: 0.3rem;
    font-weight: bold;
    color: #fff;
}

form input {
    width: 100%;
    padding: 0.6rem;
    margin-bottom: 0.9rem;
    border: 1px solid #ccc;
    border-radius: 0.2rem;
    background-color: #818181;
    color: #fff;
}

input::placeholder {
    color: #e2e2e2; /* Cor do placeholder */
    font-style: italic;
}

form input:focus {
    background-color: #666666; /* Cor de fundo ao clicar na caixa de entrada */   
}

input:-webkit-autofill {
    background-color: #666666 !important;
    -webkit-box-shadow: 0 0 0px 1000px #666666 inset !important;
    -webkit-text-fill-color: #fff !important;
}

form div {
    display: flex;
    justify-content: space-between;
}

form button {
    padding: 0.6rem 1.3rem;
    border: none;
    border-radius: 0.2rem;
    background-color: var(--purple);
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #7403a5;
}

form button#cancelarBtn {
    background-color: #f44336;
}

form button#cancelarBtn:hover {
    background-color: #b91004;
}

@media screen and (max-width: 600px) {
    form {
        padding: 15px;
    }

    form div {
        flex-direction: column;
    }

    form button {
        margin-bottom: 10px;
        width: 100%;
    }

    form button#cancelarBtn {
        margin-top: 0;
    }
}